{% extends 'base.html.twig' %}

{% block title %}Cordonnes{% endblock %}

{% block body %}
    <h1>Cordonnes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cordonne.id }}</td>
            </tr>
            <tr>
                <th>Civilite</th>
                <td>{{ cordonne.civilite }}</td>
            </tr>
            <tr>
                <th>Prenomnom</th>
                <td>{{ cordonne.prenomnom }}</td>
            </tr>
            <tr>
                <th>E_mail</th>
                <td>{{ cordonne.eMail }}</td>
            </tr>
            <tr>
                <th>Tele_mobile</th>
                <td>{{ cordonne.teleMobile }}</td>
            </tr>
            <tr>
                <th>Tele_fixe</th>
                <td>{{ cordonne.teleFixe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cordonnes_index') }}">back to list</a>

    <a href="{{ path('app_cordonnes_edit', {'id': cordonne.id}) }}">edit</a>

    {{ include('cordonnes/_delete_form.html.twig') }}
{% endblock %}
