{% extends 'base.html.twig' %}

{% block title %}Descriptions index{% endblock %}

{% block body %}
    <h1>Descriptions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Surface</th>
                <th>Prix</th>
                <th>Chambres</th>
                <th>Salle_bain</th>
                <th>Etages</th>
                <th>Nomber_etages</th>
                <th>Internet</th>
                <th>Garage</th>
                <th>Piscine</th>
                <th>Camera</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for description in descriptions %}
            <tr>
                <td>{{ description.id }}</td>
                <td>{{ description.surface }}</td>
                <td>{{ description.prix }}</td>
                <td>{{ description.chambres }}</td>
                <td>{{ description.salleBain }}</td>
                <td>{{ description.etages }}</td>
                <td>{{ description.nomberEtages }}</td>
                <td>{{ description.internet ? 'Yes' : 'No' }}</td>
                <td>{{ description.garage ? 'Yes' : 'No' }}</td>
                <td>{{ description.piscine ? 'Yes' : 'No' }}</td>
                <td>{{ description.camera ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_descriptions_show', {'id': description.id}) }}">show</a>
                    <a href="{{ path('app_descriptions_edit', {'id': description.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_descriptions_new') }}">Create new</a>
{% endblock %}
